/* styling the nav bar*/
.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

/*styling the image logo on the left.*/
.app__navbar-logo {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  /*styling the image on the left*/
  img {
    width: 45px;
    height: 45px;
  }
}

//styling the nav-links
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  //styling the list in the nav bar

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
    //div inside the list tags.
    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    // anchor tags in nav bar..
    a {
      color: var(--gray-color);
      text-decoration: none;
      text-transform: uppercase;
      flex-direction: column;
      font-weight: 500px;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
    &:hover {
      div {
        background-color: var(--secondary-color);
      }
    }
  }
  //making the list disappear on smaller devices.
  @media screen and (max-width: 900px) {
    display: none;
  }
}

//styling the according that is hiding the nav-list in smaller devices.
.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  align-items: center;
  background: var(--secondary-color);

  //styling the two lines inside the menu icon.
  svg {
    width: 95%;
    height: 60%;
    color: var(--white-color);
  }

  //stylling the div that has the navigtion list on small devices
  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;

    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url("../../assets/bgWhite.png");
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    //styling the x button in the nav bar section for small devices.

    svg {
      width: 3rem;
      height: 3rem;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      //styling the list inside the navbar for small devices
      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
